<!DOCTYPE html>
<html lang="en">
<%- include("./components/meta.ejs") %> 
<body class="bg-gray-100 font-readex " >
    <%- include("./components/Navbar.ejs") %> 

    <section class="lg:mx-24 mx-4 bg-white mb-28 mt-10 p-4 rounded" >
        <h1 class="text-2xl" ><%= result.title %></h1>
        <div class="mt-6" ><%= result.body %></div>
    </section>
    <%- include("./components/footer.ejs") %> 
</body>
</html>